$white: white;
$gray: #aaaaaa;
$dark-gray: #575e64;
$light-blue: #66ccff;
$dark-blue: #3e688d;
$lavender: #62b2f6;
$light-gray: #b9bec3;
$lightest-gray: #d8d8d8;
$bg-color: #dee9de;

body {
    color: $gray;
    letter-spacing: .05em;
    background: url("http://subtlepatterns.com/patterns/sos.png");
}

a {
    text-decoration: none;
}

section {
    background: $light-blue;
    width: 220px;
    height: 100%;
    position: fixed;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

a.nav-icons {
    color: $light-blue;
    text-decoration: none;
    margin-bottom: 1em;
    &:hover {
        color: white;
    }
    i {
        margin-right: 16px;
        font-size: 40px;
        top: 9px;
        position: relative;
        left: 5px;
    }
}

.wrap {
    width: 1020px;
    margin: 0 auto;
    @extend %clearfix;
    padding: 2em 0;
}

//== Vertical Menu ==//

#vert-nav {
    //top level items
}

.topmenu {
    .topmenu-item.current .submenu {
        display: block;
    }
    > li {
        position: relative;
        a {
            margin: 0;
            padding: 20px 0 30px 10px;
            display: block;
            width: auto;
            background: $light-blue;
            color: $white;
            border-bottom: 0.1em solid shade($light-blue, 7%);
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;
            font-size: 16px;
            &:hover {
                background: tint($lavender, 10%);
                @include transition(all 0.15s ease-in-out);
            }
            &.home {
                background: shade($light-blue, 20%);
                border-bottom: 0.1em solid shade($light-blue, 25%);
                padding: 25px 0 25px 20px;
            }
        }
    }
}

// end topmenu
//sub menus
.submenu {
    display: none;
    li {
        a {
            padding: 15px 0 15px 25px;
            background: shade($light-blue, 3%);
            @include transition(all 0.3s ease);
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1px;
            &:hover {
                background: shade($lavender, 1%);
            }
        }
        i {
            font-size: 24px;
            position: relative;
            left: 10px;
            top: 2px;
            // // &.small { IF YOU HAVE CURRENT CLASS FOR FAVORITES?
            //   font-size:6px;
            // }

        }
        &.current i, &.current a {
            color: $dark-blue;
            background: shade($lavender, 1%);
        }
    }
    &.faces {
        li {
            a {
                padding-left: 47px;
            }
            i {
                font-size: 6px;
                top: -2px;
                visibility: hidden;
            }
            &.current i, &.current a {
                visibility: visible;
                color: $dark-blue;
                background: shade($lavender, 1%);
            }
        }
    }
}

.hor-nav {
    ul {
        list-style: none;
        padding: 0;
        margin-top: 0;
        width: 100%;
        background-color: $dark-blue;
        height: 71px;
        li {
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            position: relative;
            top: 50%;
            float: left;
            margin-right: 1%;
            left: 310px;

            &.conclusion {
                float:right;
                left:0;
                a {
                color: white;
                font-weight: 600;
                letter-spacing: 1.5px;
                background-color: white;
                text-align: center;
                line-height: 35px;
                padding: 12px;
                font-size: 11px;
                background: shade($lavender, 20%);
                border: 3px solid shade($lavender, 20%);
                &:hover {
                    @include transition(all 0.15s ease-in-out);
                    border: 3px solid shade($lavender, 30%);
                    }
                }
            }
            a {
                color: $light-gray;
                font-weight: 600;
                letter-spacing: 1.5px;
                text-align: center;
                font-size: 15px;
                text-transform: uppercase;
                &:hover {
                    @include transition(all 0.15s ease-in-out);
                    color:white;
                }
            }

        }
    }
}