
<div class="babywrapper">
  <div class="baby-bg"></div>
</div>

<div class="hypothesiswrapper">
<h1 class="hypothesisheader">Hypothesis</h1>



<div id="slider">
  <input checked="" type="radio" name="slider" id="slide1" selected="false">
  <input type="radio" name="slider" id="slide2" selected="false">
  <input type="radio" name="slider" id="slide3" selected="false">
  <div id="slides">
    <div id="overflow">
      <div class="inner">
        <article>
          <p class="hypo-slider"><b>Babies are disarming.</b> They elicit warm, affectionate, and protective responses, and they deter aggression. We also associate naivete, submissiveness, and weakness with babies.The overgeneralization effect occurs when we associate those who have physical baby-like qualities with baby-like personality characteristics.That is, adults who resemble babies are perceived to adopt behaviors that one would associate with babies, such as helplessness or innocence.<p>
        </article>

        <article>
          <p class="hypo-slider"><b>Physical baby-like qualities</b> include exaggerated features, such as a large forehead, big eyes, and a rounder face shape. In contrast, those who exhibit mature facial characteristics are perceived to embody more adult-like qualities. A mature face is defined by a strong jaw, a well-defined brow, a narrow nose, and a long face shape. hese mature faces are associated with adult-like qualities such as dominance, respect, and intelligence.<p>
        </article>

        <article>
          <p class="hypo-slider"><b>Hence, The Overgeneralization Effect is simply the idea of overgeneralizing</b> a configuration of facial features and linking it to a particular kind of face, a mature face or a baby face. The categorization of the most pronounced features on a person’s face will generally link them to either a baby or mature face. Although a single babyish feature, like big eyes or full lips, can have a significant effect on trait impressions, a configuration of babyish or mature features produces an even more marked effect.<p>
        </article>
      </div>
    </div>
  </div>
  <label for="slide1"></label>
  <label for="slide2"></label>
  <label for="slide3"></label>
</div>


<div class="gotonext"><a href="/science/theory"> The Theory → </a></div>

</div>

