<!-- science landing page -->

<div class="sciencewrapper">

  <div class="learnnav">
    <h1 class="dontjudge dont">don't</h1>
    <h1 class="dontjudge judge">judge</h1>
    <div class="youwill">why you will anyway</div>
    <h1 class="dontjudge me">me</h1>
  </div>

  <div class="sciencebuttons">
    <a href="/science/anatomy"><div class="circle"><i class="icon-Anatomy"></i></div><a>
    <p>The Anatomy</p>
  </div>

  <div class="sciencebuttons">
    <a href="/science/theory"><div class="circle"><i class="icon-Theory"></i></div></a>
    <p>The Theory</p>
  </div>

  <div class="sciencebuttons">
    <a href="/science/hypothesis"><div class="circle"><i class="icon-Hypothesis"></i></div></a>
    <p>The Hypothesis</p>
  </div>

  </div>

