<!-- Funny -->

<div class="facefull">
  <div class="imagewrapperfunny"></div>
 <span class="facehover facehover-funny"></span>
</div>


<div class="faceswrapper">
  <h1 class="facesheader">FUNNY</h1>
<div class="facesreveal">
  <a data-toggle-overlay href="#">what do you see?</a>
</div>

<div class="facesexplanation">
  <p>Round, full cheeks imply light-heartedness and humor.</p>
</div>
<div class="gotonext"><a href="/faces/trusting">Next: Trusting → </a></div>
</div>