<!-- faces landing page -->

<div class="faceswrapper">

  <div class="learnnav">
    <h1 class="whatyousee what">what</h1>
    <h1 class="whatyousee you">do you</h1>
    <div class="youwill">choose a trait</div>
    <h1 class="whatyousee see">see</h1>
  </div>


  <ul class="facesbuttons">
    <li><a href="/faces/precise">Precise</a></li>
    <li><a href="/faces/naive">Naive</a></li>
    <li><a href="/faces/lovable">Lovable</a></li>
    <li><a href="/faces/funny">Funny</a></li>
    <li><a href="/faces/trusting">Trusting</a></li>

  </ul>


</div>
