<!-- Lovable -->

<div class="facefull">
  <div class="imagewrapperlovable"></div>
 <span class="facehover facehover-lovable"></span>
</div>


<div class="faceswrapper">
  <h1 class="facesheader">LOVABLE</h1>
  <div class="facesreveal">
    <a data-toggle-overlay href="#">what do you see?</a>
  </div>

  <div class="facesexplanation">
    <p>A rounder eyelid crease signifies loyalty and trustworthiness.</p>
  </div>
  <div class="gotonext"><a href="/faces/funny">Next: Funny → </a></div>
</div>