<!-- Naive -->

<div class="facefull">
  <div class="imagewrappernaive"></div>
 <span class="facehover facehover-naive"></span>
</div>


<div class="faceswrapper">
  <h1 class="facesheader">NAIVE</h1>
<div class="facesreveal">
  <a data-toggle-overlay href="#">what do you see?</a>
</div>

<div class="facesexplanation">
  <p>A rounder eyelid crease signifies loyalty and trustworthiness.</p>
</div>
<div class="gotonext"><a href="/faces/lovable">Next: Lovable → </a></div>
</div>