<!-- Precise -->
<div class="facefull">
  <div class="imagewrapperprecision"></div>
  <span class="facehover facehover-precision"></span>
</div>


<div class="faceswrapper">
  <h1 class="facesheader">PRECISE</h1>
<div class="facesreveal">
  <a data-toggle-overlay href="#">what do you see?</a>
</div>

<div class="facesexplanation">
  <p>A thin, straight, nearly "lipless" mouth resembling a single line suggest industry and perfection.</p>
</div>
<div class="gotonext"><a href="/faces/naive">Next: Naive → </a></div>
</div>