<!-- CONCLUSION PAGE -->

<div class="colophon-nav"><a href="#" class="colophonLink"><i class="icon-Citation"></i>Citation</a></div>
<div class="conclusionwrapper">
<h1 class="conclusionheader">Conclusion</h1>
<h3> <strong> So ... </strong> what does it all mean?  </h3>


  <div class="conclusioncontainer">

    <div class="conclusion-face one">
      <img src="/stylesheets/img/conclusion-oldwoman.jpg" alt="Conclusion">
      <span>The Overgeneralization Hypothesis illuminates exactly what we are doing & why we do it, even if our judgments are mistaken</span>
    </div>
    <div class="conclusion-face two">
      <img src="/stylesheets/img/conclusion-loveman.jpg" alt="Conclusion">
      <span>The outcomes of these impressions may be predictable, but they are subjectively based upon stereotype. Regardless of how inaccurate, they exert powerful effects.</span>
    </div>
    <div class="conclusion-face three">
      <img src="/stylesheets/img/conclusion-naivegirl.jpg" alt="Conclusion">
      <span>There is a combination of cause & effect going on here, one in which perception influences behavior, but also in that behavior influences perception</span>
    </div>

  </div>

</div>

  <div class="lightbox">
  <a href="#" class="citeClose"><span style="font-size:12px; font-weight:bold; padding-right:10px;">x</span><span>Close</span></a>
    <div class="colophon-container">

        <h2 class="colophonheader">CITATION</h2>

        <h3>Face Value</h3>

        <p><strong>Instruction:</strong>
        Jan C. Almquist, Adjunct Professor, University of the Arts Faculty</p>

        <p><strong>Advising Editor and Guest Critic:</strong>
        Elise Juska, Associate Professor, Liberal Arts</p>

        <p><strong>Professional Consultant and Guest Critic:</strong>
        Joel Katz, Joel Katz Design Associates, Hans-U. Allemann</p>

        <p>Concept and design by Emily Brick</p>

        <p><strong>Dedicated to:</strong>
        My father, who taught me to never judge a book by its cover.</p>

        <p>Special thanks to:<br />
        Jake Hiller and Mike Perrotti for technical consulting.<br />
        The Graphic Design faculty for teaching me how to think and see.<br />

        <h3>Text Sources</h3>

        <p>Zebrowitz, Leslie A. <i> Reading Faces: Window to the Soul? </i> Boulder, CO: Westview, 1997. Print.</p>

        <p>Gladwell, Malcolm. <i> Blink: The Power of Thinking without Thinking. </i> New York: Little, Brown and, 2005. Print.</p>
        <p>Julian Hochberg. <i>Perception and Cognition. </i>Century's End London. Academic Press, 1998. Print.</p>

        <p>Willis, Janine, and Alexander Todorov. "First Impressions: Making Up Your Mind After a 100-Ms Exposure to a Face." <i>Psychological Science</i> (2006): 592-98. Print.</p>

        <p>Zebrowitz, Leslie A., and Joann M. Montepare. "Social Psychological Face Perception: Why Appearance Matters." <i>Social and Personality Psychology Compass</i> (2008): 1497-517. Print.</p>

        <p>Zebrowitz, L. A., Andreoletti, C., Collins, M. A., Lee, S. Y., & Blumenthal, J. (1998). “First Impressions of the Face: Predicting Success”. <i>Social and Personality Psychology Compass</i> (2010): 509-514. Print. </p>

        <h3>Photographs</h3>

        <p><i>The Face Photographs: Forehead, Chin, Mouth Photographs</i><br />
        Martin Schoeller, <u>A Thing or Two About Twins.</u> National Geographic Magazine. January 2012.</p>

        <p><i>The Face Photographs: Nose Photograph</i><br />
        Monkey Business, <u>Studio Portrait of Teenage Twins.</u> Deposit Photos. April 24th, 2012.
        http://depositphotos.com/4815072/stock-photo-Studio-Portrait-Of-Teenage-Twins.html

        <p><i>The Face Photographs: Eyes Photograph</i><br />
        Cpsol, <u>Emulation.</u> April 4, 2012.
        http://www.cpsosl.wordpress.com/2011/09/21/emmulation-martin-schoeller/#respond/
        </p>

        <p><i>Overgeneralization Effect: Baby Photograph</i><br />
        Giuseppe Ramose, <u>Baby Face.</u> April 1, 2012. Deposit Photos.
        http://depositphotos.com/2953544/stock-photo-Baby-face.html</p>

        <p><i>Explore Faces: Submissive Photograph</i><br />
        Unknown Source, March 24th, 2012.
        http://a.img-dpreview.com/reviews/CanonS5is/Samples/Flash/IMG_0820.JPG</p>

        <p><i>Explore Faces: Class Clown Photograph</i><br />
        Jonas Lindhardt, <u>Inspired by Martin Schoeller.</u> April 4, 2012.
        http://www.flickr.com/photos/jlindhardt/6046962296/in/photostream/</p>

        <p><i>Explore Faces: Dishonest Photograph</i><br />
        Jonas Lindhardt, <u>Inspired by Martin Schoeller.</u> April 4, 2012.
        http://www.flickr.com/photos/jlindhardt/6046962296/in/photostream/</p>

        <p><i>Explore Faces: Lovable Photograph</i><br />
        Jonas Lindhardt, Inspired by Martin Schoeller. April 4, 2012.
        http://www.flickr.com/photos/jlindhardt/6046962296/in/photostream/</p>

        <p><i>Explore Faces: Trusting Photograph</i><br />
        Cpsol, <u> Emulation.</u>Wordpress. April 4, 2012.
        http://www.cpsosl.wordpress.com/2011/09/21/emmulation-martin-schoeller/#respond/</p>

        <p><i>Explore Faces: Influential Photograph</i><br />
        Ilya  Andriyanov. <u>Serious Man Portrait.</u> Deposit Photos. April 1, 2012.
        http://depositphotos.com/6468007/stock-photo-Serious-man-portrait.html</p>

        <p><i>Explore Faces: Influential Photograph</i><br />
        Ilya  Andriyanov, <u>Serious Man Portrait. </u> Deposit Photos. April 1, 2012.
        http://depositphotos.com/6468007/stock-photo-Serious-man-portrait.html</p>

        <p><i>Explore Faces: Serious Photograph</i><br />
        Xalanx. <u>Menacing Man Portrait.</u> Deposit Photos. April 1, 2012.
        http://depositphotos.com/6316556/stock-photo-Menacing-man-portrait.html</p>

        <p><i>Explore Faces: Perfectionist Photograph</i><br />
        Pj Taylor. <u>An Homage.</u> Flickr Photographs. April 28th, 2012.
        http://www.flickr.com/photos/mybluemuse/3211444534/in/photostream/</p>


  </div>


    </div>





