<div class="anatomywrapper">
  <h1 class="anatomyheader">Anatomy</h1>

  <div class="anatomycontainer">

        <div id="thumbs" class="navigation" >
          <ul class="thumbs noscript">
            <li>
              <a class="thumb active-link" data-slide="slide1" href="#" title="chin">Chin</a>
            </li>

            <li>
              <a class="thumb" data-slide="slide2" href="#" title="forehead">Forehead</a>
            </li>

            <li>
              <a class="thumb" data-slide="slide3" href="#" title="mouth">Mouth</a>
            </li>

            <li>
              <a class="thumb" data-slide="slide4" href="#" title="eyes">Eyes</a>
            </li>

            <li>
              <a class="thumb" data-slide="slide5" href="#" title="nose">Nose</a>
            </li>
          </ul>
        </div>


        <!-- Start Minimal Gallery Html Containers -->
        <div id="gallery">
          <div class="slideshow-container">
            <div id="slideshow" class="slideshow">

              <div id="slide1" class="slide current">
                <div class="anatomydescription">
                  <p class="anatomyfeaturetext"> <strong>Mature Chin:</strong> Strong pronounced cheekbones and a long, angular jaw</p>
                  <p class="anatomyfeaturetext"><strong>Baby Chin:</strong> Non-prominent, short, soft chin and less developed jaw</p>
                </div>

              <img src="/stylesheets/img/faceimages_chin.png" width="850" alt="Faceimages Nose">
              </div>

              <div id="slide2" class="slide">
                <div class="anatomydescription">
                  <p class="anatomyfeaturetext"><strong>Mature Forehead:</strong> Short, receding in profile, with features higher on the plane of the face</p>
                  <p class="anatomyfeaturetext"><strong>Baby Forehead:</strong> Large, protruding profile, with features low on the plane of the face</p>
                </div>

                <img src="/stylesheets/img/faceimages_forehead.png" width="850"  alt="Faceimages Eyes">
              </div>


              <div id="slide3" class="slide">
                <div class="anatomydescription">
                  <p class="anatomyfeaturetext"> <strong>Mature Mouth:</strong> Thin, small and straight lips, with the upper lip slimmer than the bottom</p>
                  <p class="anatomyfeaturetext"><strong>Baby Mouth:</strong> Full, heart-shaped lips, large in proportion to the rest of the face</p>
                </div>

                <img src="/stylesheets/img/faceimages_lips.png" width="850"  alt="Faceimages Lips">
              </div>



              <div id="slide4" class="slide">
                <div class="anatomydescription">
                  <p class="anatomyfeaturetext"><strong>Mature Eyes:</strong> Small, often dark eyes with a straight lid and strong brow</p>
                  <p class="anatomyfeaturetext"><strong>Baby Eyes:</strong> Round, large, wide-set and often light eyes</p>
                </div>

                <img src="/stylesheets/img/faceimages_eyes.png" width="850"  alt="Faceimages Nose">
              </div>



              <div id="slide5" class="slide">
                <div class="anatomydescription">
                    <p class="anatomyfeaturetext"><strong>Mature Nose:</strong> Long narrow nose, usually full or downturned in profile</p>
                    <p class="anatomyfeaturetext"><strong>Baby Nose:</strong> Upturned or “button” nose, wide at the bottom and mostly concave in profile</p>
                </div>

                <img src="/stylesheets/img/faceimages_nose.png" width="850"  alt="Faceimages Forehead">
              </div>


            </div>
          </div>
        </div>

        <!-- End Minimal Gallery Html Containers -->
        <!-- <div class="containerheader"><p>Mature</p></div> <div class="containerheader"> <p>Baby</p></div> -->
        <div style="clear: both;"></div>

  </div>

  <div class="gotonext"><a href="/faces"> The Faces → </a></div>

  </div>



