<div class="theorywrapper">
  <h1 class="theoryheader">Theory</h1>

  <div class="theorycontainer">
           <div class="theoryprophecy">
                <div class="theorytext"> <p><strong> A self-fulfilling prophecy</strong> occurs when the expectations that appearance creates are realized. Chubby cheeks, a big forehead, or a soft jawline may lead to social interactions that elicit “babyish” or playful behavior. The behavior can then have an influence on the individual, creating a self-fulfilling prophecy. <span class="theorytextemphasis">People may acquire the psychological traits that their facial appearance led others to expect.</span></p>
                </div>

                <p class="hinttext">(hover to reveal face)</p>

                <div class="theoryimg">
                  <span class="theoryimg_reveal"><img src="/stylesheets/img/billmurray-full.jpg" alt="BillMurray"></span>
                  <img src="/stylesheets/img/billmurray-thumb.jpg" alt="BillMurray" class="thumb">
                  <div class="cardtext">
                  <p><strong>THE GOOF</strong>
                  <p>"baby face" <br />self-fulfilling</p>
                  </p>
                  </div>
                </div>
           </div>

           <div class="theoryprophecy">
                <div class="theorytext"> <p> <strong>A self-defeating prophecy</strong> effect occurs when the expectations that appearance creates produce effects that elicit behavior just the opposite of what is expected. <span class="theorytextemphasis"> Often, the target of the personality expectancies defeats them  </span> because the social interactions produced by the expectancies are negative. For example, the chubby-cheeked boy who is expected to be innocent may reject this childlike image and compensate by rebelling.</p>
                </div>

                <p class="hinttext">(hover to reveal face)</p>

                <div class="theoryimg">
                  <span class="theoryimg_reveal"><img src="/stylesheets/img/alcapone-full.jpg" alt="AlCapone"></span>
                  <img src="/stylesheets/img/alcapone-thumb.jpg" alt="AlCapone" class="thumb">
                  <div class="cardtext">
                  <p><strong>THE BAD BOY</strong>
                  <p>"baby face" <br />self-defeating</p>
                  </p>
                  </div>
                </div>
           </div>
  </div>


  <div class="gotonext"><a href="/science/anatomy"> The Anatomy → </a></div>

</div>